<div class="d-flex justify-content-center">
  <div class="w-25 border m-5 p-5 rounded">
    <form #userForm="ngForm">
      <h3 class="my-4 text-purple text-center">Registrarse</h3>

      <hr class="mb-4" />

      <div class="mb-3">
        <label for="exampleInputFirstName1" class="form-label">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputFirstName1"
          aria-describedby="nameHelp"

          name="firstName"
          #firstName="ngModel"
          [(ngModel)]="userService.currentUser.firstName"

        />

        <label for="exampleInputLastName1" class="form-label">Apellidos</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputLastName1"
          aria-describedby="emailHelp"

          name="lastName"
          #lastName="ngModel"
          [(ngModel)]="userService.currentUser.lastName"
        />

        <label for="exampleInputEmail1" class="form-label"
          >Correo Electrónico</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"

          name="email"
          #email="ngModel"
          [(ngModel)]="userService.currentUser.email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Contraseña</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"

          name="password"
          #password="ngModel"
          [(ngModel)]="userService.currentUser.password"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Confirmar Contraseña</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"

          name="confirmPassword"
          #confirmPassword="ngModel"
          [(ngModel)]="userService.currentUser.confirmPassword"
        />
      </div>
        <button type="submit" class="btn btn-success" (click)="signup(userForm)">Registrarme</button>
     
    </form>
  </div>
</div>
